<!DOCTYPE html>
<html>
<head>
  <title>My Movie List</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <!-- navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="./index.html" @click="setVisibility">Movie List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/favorite" @click="setVisibility">favorite</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mx-auto" style="margin-top: 100px;">

    <!--search bar-->
    <div class="row" id="search-bar">
      <form id="search" class="form-inline" @submit.prevent="searchMovie(keyword)">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="search-input" placeholder="search name ..." v-model.lazy.trim="keyword">
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>
    </div>

    <!-- data-panel -->
    <div class="container mt-5">
      <div class="row row-cols-2 row-cols-md-4" id="data-panel">
        <!-- print movie list here -->
        <div class="card-deck col" v-for="movie in visibleMovies" v-bind:key="movie.id">
          <div class="card mb-2">
            <img class="card-img-top" alt="Card image cap" v-bind:src="movie.image">
            <div class="card-body movie-item-body">
              <h5 class="card-title">{{ movie.title }}</h5>
            </div>
            <!-- "More" button -->
            <div class="card-footer">
              <button class="btn btn-info btn-show-movie" data-toggle="modal" data-target="#show-movie-modal" @click="getMovieDetail(movie.id)">More</button>
              <button class="btn" @click="favoriteToggle(movie.id)" v-bind:class="{'btn-success': !isFavorite(movie.id), 'btn-danger': isFavorite(movie.id)}">
                {{ isFavorite(movie.id) ? '-' : '+' }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="show-movie-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="show-movie-title">{{ movieDetail.title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="show-movie-body">
            <div class="row">
              <img class="col-sm-8" id="show-movie-image" v-bind:src="movieDetail.image">
              <div class="col-sm-4">
                <p><em id="show-movie-date">release at : {{ movieDetail.release_date }}</em></p>
                <p id="show-movie-description">{{ movieDetail.description }}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- paginator -->
      <b-pagination class="my-5" align="center"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="data-panel"
        @click.native="backToTop"
      ></b-pagination>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.19.0/bootstrap-vue.min.js" integrity="sha512-8kPdh/QOb9Lc2e3uQyfHWcqLq0WuyQ0awXGfKkXJw22ryOGhz6xuKnKdorhN1+2j1j6YGL0SnCU292v/zB10zg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>

  <script>
    const BASE_URL = "https://movie-list.alphacamp.io"
    const INDEX_URL = BASE_URL + "/api/v1/movies/"
    const POSTER_URL = BASE_URL + "/posters/"

    const app = new Vue({
      el: '#app',
      data: {
        movies: [],
        favoriteMovies: [],
        filterMovies: [],
        movieDetail: {},
        visibility: 'all',
        keyword: '',
        currentPage: 1,
        perPage: 24
      },
      created () {
        this.favoriteMovies = JSON.parse(localStorage.getItem('favoriteMovies')) || []

        axios.get(INDEX_URL)
          .then((res) => {
            this.movies = res.data.results.map(movie => (
              { ...movie, image: POSTER_URL + movie.image }
            ))
          })
          .catch(error => console.log(error))
      },
      computed: {
        visibleMovies() {
          const startIndex = (this.currentPage - 1) * this.perPage
          if (this.filterMovies.length){
            return this.filterMovies.slice(startIndex, startIndex + this.perPage)
          }
          if (this.visibility === 'favorite'){
            return this.favoriteMovies.slice(startIndex, startIndex + this.perPage)
          } else {
            return this.movies.slice(startIndex, startIndex + this.perPage)
          }
        },
        rows() {
          return this.visibility === 'all' ? this.movies.length : this.favoriteMovies.length
        }
      },
      methods: {
        favoriteToggle(id) {
          if (!this.favoriteMovies.some(movie => movie.id === id)){
            newFavoriteMovie = this.movies.find(movie => movie.id === id)
            this.favoriteMovies.push(newFavoriteMovie)
          } else {
            index = this.favoriteMovies.findIndex(movie => movie.id === id)
            this.favoriteMovies.splice(index, 1)
          }
        },
        setStorage() {
          localStorage.setItem('favoriteMovies', JSON.stringify(this.favoriteMovies))
        },
        setVisibility() {
          if (this.visibility === 'all'){
            this.visibility = 'favorite'
          } else {
            return
          }
        },
        isFavorite(id) {
          return this.favoriteMovies.some(movie => movie.id === id)
        },
        searchMovie(value) {
          value = value.toLowerCase()
          this.filterMovies = this.movies.filter(movie => movie.title.toLowerCase().includes(value))
          if (!this.filterMovies.length){
            return alert('沒有符合搜尋的項目')
          }
        },
        getMovieDetail(id) {
          this.movieDetail = this.movies.find(movie => movie.id === id )
        },
        backToTop() {
          document.body.scrollTop = 0
          document.documentElement.scrollTop = 0
        }
      },
      watch: {
        favoriteMovies: 'setStorage'
      }
    })
  </script>
</body>
</html>
